@model mvcdemo.Models.Movie

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}

@Styles.Render("~/Content/jqueryui")

<h2>Add Movie</h2>

@using (Html.BeginForm()) 
{
     <div>Movie Title </div>
     @Html.EditorFor(model => model.Title)
     @Html.ValidationMessageFor(model => model.Title)
     <p></p>
     <div>Casting</div>
     @Html.EditorFor(model => model.Casting)
     @Html.ValidationMessageFor(model => model.Casting)
    <p></p>
    <div>Language</div>
    @Html.DropDownListFor(model => model.Lang, mvcdemo.Models.MovieUtilities.GetLanguages())
    <p></p>
    <div>Release Date (dd/mm/yy)</div>
    @Html.TextBoxFor(model => model.ReleasedOn)
    <p></p>
    <div>Rating</div>
    @Html.DropDownListFor(model => model.Rating, mvcdemo.Models.MovieUtilities.GetRatings())
    <p></p>
    <input type="submit" value="Add"/>
}

<p></p>
<div class="feedback">@ViewBag.Message</div>


@section scripts
{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        // code that runs when document is ready 
        $(function () {
            $("#ReleasedOn").datepicker({ dateFormat: "dd-mm-yy" });

        });

    </script>
}




