@model IEnumerable<mvcdemo.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MovieLayout.cshtml";
}

<h2>List Of Movies</h2>


</p>
<table class="table">
    <tr class="colhead">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Casting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleasedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Casting)
        </td>
        <td>
            @mvcdemo.Models.MovieUtilities.GetLanguage(item.Lang)
        </td>
        <td style="text-align:center">
            @item.ReleasedOn.ToString("dd/MM/yy")
        </td>
        <td>
            @mvcdemo.Models.MovieUtilities.GetRatingString(item.Rating)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id } ,
                   new { onclick="return confirm('Do you really want to delete this movie?')" })
        </td>
    </tr>
}

</table>
